[submodule "themes"]
	path = themes
	url = git@github.com:techman83/pelican-themes.git
[submodule "plugins"]
	path = plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "plugins-extra/pelican-embed-tweet"]
	path = plugins-extra/pelican-embed-tweet
	url = https://github.com/lqez/pelican-embed-tweet.git
